<article>
  <header style="background-image: url('<%= image %>');<%= header_styles %>">
    <div class="details">
      <h3><a href="<%= url %>"><%= title %></a></h3>
      <% if date %><div class="date"><%= date %></div><% end %>
    </div>
  </header>

  <div class="contents">
  <%= contents %>
  </div>
</article>
